/********************* Root variables *********************/
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-p: 0.875rem;
}

/********************* Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************* General *********************/
body {
  background-color: var(--off-black);
  font-family: 'Inter';
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
p{ font-size: var(--fs-p);}

/********************* FONTS *********************/
/*********** WEIGHTS ***********/
.fw-regular { font-weight: var(--fw-regular); }
.fw-semibold { font-weight: var(--fw-semibold); }
.fw-bold { font-weight: var(--fw-bold); }

/********************* COLORS *********************/
/*********** PRIMARY ***********/
.bg-green { background-color: var(--green); }
.txt-green { color: var(--green); }
/*********** NEUTRAL ***********/
.txt-white { color: var(--white); }
.txt-grey { color: var(--grey); }
.bg-grey { background-color: var(--grey); }
.bg-dark-grey { background-color: var(--dark-grey); }