/********************* Root variables *********************/
:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-p: 0.875rem;
  --container-min-width: 330px;
  --container-max-width: 385px;
  --container-border-radius: 20px;
  --container-padding: 2.5rem;
  --container-avatar-width: 5rem;
  --container-avatar-border-radius: 50%;
  --technologies-gap: 1rem;
  --technologies-padding-y: 0.6rem;
  --technologies-padding-x: 1.2rem;
  --technologies-border-radius: 8px;
}

/********************* Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************* General *********************/
body {
  background-color: var(--off-black);
  font-family: 'Inter';
}
.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h2,p,a { font-size: var(--fs-p);}

/********************* FONTS *********************/
/*********** WEIGHTS ***********/
.fw-regular { font-weight: var(--fw-regular); }
.fw-semibold { font-weight: var(--fw-semibold); }
.fw-bold { font-weight: var(--fw-bold); }

/********************* COLORS *********************/
/*********** PRIMARY ***********/
.bg-green { background-color: var(--green); }
.txt-green { color: var(--green); }
/*********** NEUTRAL ***********/
.txt-white { color: var(--white); }
.txt-grey { color: var(--grey); }
.bg-grey { background-color: var(--grey); }
.bg-dark-grey { background-color: var(--dark-grey); }

/********************* FLEX *********************/
.d-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/********************* Main classes *********************/
/*********** Container ***********/
.container {
  min-width: var(--container-min-width);
  max-width: var(--container-max-width);
  border-radius: var(--container-border-radius);
  border: 1px solid var(--black);
  box-shadow: 8px 8px var(--black);
  padding: var(--container-padding);
  transition: all 0.4s;
}
.container img {
  width: var(--container-avatar-width);
  border-radius: var(--container-avatar-border-radius);
}
/*********** Technologies ***********/
#technologies {
  gap: var(--technologies-gap)
}
#technologies>a{
  width: 100%;
  text-align: center;
  border-radius: var(--technologies-border-radius);
  padding: var(--technologies-padding-y) var(--technologies-padding-x);
  background-color: var(--grey);
  transition: all 0.4s;
}
#technologies>a:hover{
  background-color: var(--green);
  color: var(--dark-grey);
  cursor: pointer;
}