:root{
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-p: 0.875rem;
}